*{
    margin: 0;
    padding: 0;
}

.full-page{
    background-color: #fee98f;
    display: flex;
    padding-top: 10vmin;
    padding-bottom: 10vmin;
}

.page-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-P{
    margin-bottom: 2vmin;
    padding-top: 8vmin;
    color: #b1140d;
}

.para-M{
    margin-top: 3vmin;
    margin-left: 20vmin;
    margin-right: 20vmin;
}

.sign-off{
    margin-left:20vmin;
    padding-bottom: 8vmin;
}

.page-right{
    background: #efefef;
    margin: 96px auto 0;
    max-width: 512px;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    margin-right: 20vmin;
}

.portrait{
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    background: #999;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(-50%);
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

.para-P{
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    color: #666;
    padding: 0 24px 48px;
}

.para-Name{
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: bold;
    transform: translateY(-300%);
}